#### 1. Read the "heartFailureDataset.txt" dataset into a Numpy array. You can use the appropriate Numpy function for reading tabular data

In [1]:
import numpy as np
import pandas as pd
import csv
# 1
data_fr = pd.read_csv(r"C:\Users\Dell\Downloads\HeartFailureDataset 1.csv")
data=data_fr.values
with open(r"C:\Users\Dell\Downloads\HeartFailureDataset 1.csv", 'r') as file:
    file_read=csv.reader(file)
    column_names =next(file_read)
len(column_names)

50

In [3]:
data_fr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        1177 non-null   int64
 1   outcome                   1176 non-null   float64
 2   age                       1177 non-null   int64
 3   gendera                   1177 non-null   int64
 4   BMI                       962 non-null    float64
 5   hypertensive              1177 non-null   int64
 6   atrialfibrillation        1177 non-null   int64
 7   CHD with no MI            1177 non-null   int64
 8   diabetes                  1177 non-null   int64
 9   deficiencyanemias         1177 non-null   int64
 10  depression                1177 non-null   int64
 11  Hyperlipemia              1177 non-null   int64
 12  Renal failure             1177 non-null   int64
 13  COPD                      1177 non-null   int64
 14  heart rate                1164 non-null   float64
 15  Systolic blood pressure   1161 non-null   float64
 16  Diastolic blood pressure  1161 non-null   float64
 17  Respiratory rate          1164 non-null   float64
 18  temperature               1158 non-null   float64
 19  SP O2                     1164 non-null   float64
 20  Urine output              1141 non-null   float64
 21  hematocrit                1177 non-null   float64
 22  RBC                       1177 non-null   float64
 23  MCH                       1177 non-null   float64
 24  MCHC                      1177 non-null   float64
 25  MCV                       1177 non-null   float64
 26  RDW                       1177 non-null   float64
 27  Leucocyte                 1177 non-null   float64
 28  Platelets                 1177 non-null   float64
 29  Neutrophils               1033 non-null   float64
 30  Basophils                 918 non-null    float64
 31  Lymphocyte                1032 non-null   float64
 32  PT                        1157 non-null   float64
 33  INR                       1157 non-null   float64
 34  NT-proBNP                 1177 non-null   float64
 35  Creatine kinase           1012 non-null   float64
 36  Creatinine                1177 non-null   float64
 37  Urea nitrogen             1177 non-null   float64
 38  glucose                   1159 non-null   float64
 39  Blood potassium           1177 non-null   float64
 40  Blood sodium              1177 non-null   float64
 41  Blood calcium             1176 non-null   float64
 42  Chloride                  1177 non-null   float64
 43  Anion gap                 1177 non-null   float64
 44  Magnesium ion             1177 non-null   float64
 45  PH                        885 non-null    float64
 46  Bicarbonate               1177 non-null   float64
 47  Lactic acid               948 non-null    float64
 48  PCO2                      883 non-null    float64
 49  EF                        1177 non-null   int64
dtypes: float64(37), int64(13)
memory usage: 459.9 KB

#### 2. Calculate the mean and standard deviation of the “heart rate” values for each “gender”across all patients. Then, identify the “gender: with the lowest mean heart rate

In [3]:
#2
#ind_heart=column_names.index('heart rate') #14

gender1=data[:,3] # gendera
m_male=gender1==1 
m_female=gender1==2

mean_f=np.nanmean(data[m_female , 14],axis=0)
std_f=np.nanstd(data[m_female , 14],axis=0)

std_m=np.nanstd(data[m_male , 14],axis=0)
mean_m=np.nanmean(data[m_male , 14],axis=0)

print(f'The mean of heart rate female : {mean_f}')
print(f'The standard deviation of heart rate female : {std_f}')
print(f'The mean of heart rate male : {mean_m}')
print(f'The standard deviation of heart rate male : {std_m}')
l=np.array([ mean_f , mean_m])
m=l.min()
if(m == mean_f ):
    print("female(2)")
else:
    print("male(1)")
gender1.ndim

The mean of heart rate female : 84.36778837735726
The standard deviation of heart rate female : 15.954616665632308
The mean of heart rate male : 84.80731991110707
The standard deviation of heart rate male : 16.072054208238853
female(2)

1

In [4]:
data7=data[:,1:]
data7.ndim

2

#### 3. Calculate the median and interquartile range of all features. Then, identify the feature with the smallest and largest interquartile range.

In [13]:
#3
data2 = data[:,1:] #without ID col
median = np.nanmedian(data2, axis=0)
q1 = np.nanpercentile(data2, 25, axis=0)
q3 = np.nanpercentile(data2, 75, axis=0)
iqr = q3 - q1

variable_with_maximam_iqr = np.argmax(iqr)
max_f=column_names[variable_with_maximam_iqr+1]
variable_with_minimam_iqr = np.argmin(iqr)
min_f=column_names[variable_with_minimam_iqr+1]

result_meadian =list(zip(column_names[1:],median))
result_iqr = dict(list(zip(column_names[1:],iqr)))

print("Median for each variable:\n",result_meadian)
print("Interquartile Range (IQR) for each variable:\n", result_iqr)
print("Variable with largest IQR:", max_f)
print("Variable with smallest IQR:", min_f)
#print(len(median))
t

Median for each variable:
 [('outcome', 0.0), ('age', 77.0), ('gendera', 2.0), ('BMI', 28.3124741), ('hypertensive', 1.0), ('atrialfibrillation', 0.0), ('CHD with no MI', 0.0), ('diabetes', 0.0), ('deficiencyanemias', 0.0), ('depression', 0.0), ('Hyperlipemia', 0.0), ('Renal failure', 0.0), ('COPD', 0.0), ('heart rate', 83.61079944), ('Systolic blood pressure', 116.1282051), ('Diastolic blood pressure', 58.46153846), ('Respiratory rate', 20.37230769), ('temperature', 36.650794195), ('SP O2', 96.452272725), ('Urine output', 1675.0), ('hematocrit', 30.8), ('RBC', 3.49), ('MCH', 29.75), ('MCHC', 32.98571429), ('MCV', 90.0), ('RDW', 15.50625), ('Leucocyte', 9.68), ('Platelets', 222.6666667), ('Neutrophils', 82.46666667), ('Basophils', 0.3), ('Lymphocyte', 10.475000000000001), ('PT', 14.63333333), ('INR', 1.3), ('NT-proBNP', 5840.0), ('Creatine kinase', 89.25), ('Creatinine', 1.2875), ('Urea nitrogen', 30.66666667), ('glucose', 136.4), ('Blood potassium', 4.115384615), ('Blood sodium', 139.25), ('Blood calcium', 8.5), ('Chloride', 102.5), ('Anion gap', 13.66666667), ('Magnesium ion', 2.092307692), ('PH', 7.38), ('Bicarbonate', 26.5), ('Lactic acid', 1.6), ('PCO2', 43.0), ('EF', 55.0)]
Interquartile Range (IQR) for each variable:
 {'outcome': 0.0, 'age': 20.0, 'gendera': 1.0, 'BMI': 9.307047992500003, 'hypertensive': 1.0, 'atrialfibrillation': 1.0, 'CHD with no MI': 0.0, 'diabetes': 1.0, 'deficiencyanemias': 1.0, 'depression': 0.0, 'Hyperlipemia': 1.0, 'Renal failure': 1.0, 'COPD': 0.0, 'heart rate': 23.535892855, 'Systolic blood pressure': 23.2336957, 'Diastolic blood pressure': 13.290372669999996, 'Respiratory rate': 5.4655053225, 'temperature': 0.7359458050000072, 'SP O2': 2.9175000024999918, 'Urine output': 1520.0, 'hematocrit': 6.852500000000003, 'RBC': 0.7799999999999998, 'MCH': 2.9899999999999984, 'MCHC': 1.8138888900000012, 'MCV': 7.607142859999996, 'RDW': 2.477499999999999, 'Leucocyte': 5.3, 'Platelets': 135.3409091, 'Neutrophils': 12.674999999999997, 'Basophils': 0.3, 'Lymphocyte': 8.812499999749999, 'PT': 5.640000000000001, 'INR': 0.5963636360000002, 'NT-proBNP': 12717.0, 'Creatine kinase': 139.1875, 'Creatinine': 0.96, 'Urea nitrogen': 24.41666667, 'glucose': 55.5625, 'Blood potassium': 0.5000000000000004, 'Blood sodium': 4.933333299999987, 'Blood calcium': 0.7201988637499994, 'Chloride': 6.571428600000004, 'Anion gap': 3.1666666699999997, 'Magnesium ion': 0.2861111110000001, 'PH': 0.0953846149999995, 'Bicarbonate': 6.420454549999999, 'Lactic acid': 1.0000000000000002, 'PCO2': 13.547322770000001, 'EF': 15.0}
Variable with largest IQR: NT-proBNP
Variable with smallest IQR: outcome

array([724, 836, 334, ..., 739, 731, 737], dtype=int64)

#### 4. Using the np.sum function, calculate the total “blood pressure” (“Systolic blood pressure” and “Diastolic blood pressure”) value for each patient. Then, print the top 10 “patient IDs” with the highest blood pressure values.

In [4]:
#4
#column_names.index('Systolic blood pressure')#15
#column_names.index('Diastolic blood pressure')#16
blood_pressure=np.nansum([data[:,15] , data[:,16]],axis=0)

t=np.argsort(blood_pressure)[::-1]
print("Top 10 patients IDs with the highest blood pressure values.:")
print(data[:,0][t])

Top 10 patients IDs with the highest blood pressure values.:
[178001. 163199. 190823. 196856. 118932. 169263. 189112. 196981. 184453.
 114085.]

#### 5. Sort the patients in descending order based on their “glucose” values. Print the patients IDs the patient IDs of the top 10 patients based on their "glucose" values.

In [5]:
#5
#column_names.index('glucose')#38
arr=np.array(data[:,38])
nan_indices = np.argwhere(np.isnan(arr))
arr_without_nan = np.delete(arr, nan_indices)

sorted_indices = np.argsort(arr_without_nan)[::-1]
print("Top 10 patients IDs based on their glucose values:")
print(data[sorted_indices][:10, 0])

Top 10 patients IDs based on their glucose values:
[126474. 168835. 109401. 143304. 138444. 149947. 190669. 145935. 165271.
 192823.]

#### 6. Using fancy indexing, substitute the "Creatinine" values of the top 5 patients, with the corresponding median value of that feature.

In [8]:
#6
#column_names.index('Creatinine') #36
Creatinine_median=np.nanmedian(data[:,36] , axis=0)
top_5=np.argsort(data[:,36])[-5:]
data[:,36][top_5]=Creatinine_median
f=data[:,36][-5:]
data[:,36][top_5]

array([1.2875, 1.2875, 1.2875, 1.2875, 1.2875])

#### 7. Using np.argpartition, identify the top 100 values of each feature. Subsequently, compute the mean of each feature, considering only the 100 highest values.

In [10]:
data3=data[:, 1:] # with out the ID col
top_indices = np.argpartition(-data3, 100, axis=0)[:100, :]
# Extract top 100 values for each feature
top_values = np.take_along_axis(data3, top_indices, axis=0)

# Remove NaN values from the top values
top_values_no_nan = top_values[~np.isnan(top_values)]

# Reshape 
num_features = data3.shape[1]
mean_top_values = np.nanmean(top_values_no_nan.reshape(-1, num_features), axis=0)

result = dict(list(zip(column_names[1:],mean_top_values)))
print("Mean of the top 100 non-NaN values for each feature:\n" , result )

Mean of the top 100 non-NaN values for each feature:
 {'outcome': 1.0, 'age': 90.37, 'gendera': 2.0, 'BMI': 50.371414275999996, 'hypertensive': 1.0, 'atrialfibrillation': 1.0, 'CHD with no MI': 1.0, 'diabetes': 1.0, 'deficiencyanemias': 1.0, 'depression': 1.0, 'Hyperlipemia': 1.0, 'Renal failure': 1.0, 'COPD': 0.89, 'heart rate': 115.35980485099998, 'Systolic blood pressure': 154.17329478899998, 'Diastolic blood pressure': 82.07200724559999, 'Respiratory rate': 28.859492472900005, 'temperature': 37.877628023199996, 'SP O2': 99.55130279590001, 'Urine output': 4791.88, 'hematocrit': 43.435387698299984, 'RBC': 4.955795674610001, 'MCH': 33.80988716419999, 'MCHC': 35.1965372012, 'MCV': 101.68911754909998, 'RDW': 20.8041345916, 'Leucocyte': 22.527923751099994, 'Platelets': 490.8417961759999, 'Neutrophils': 93.65614166669998, 'Basophils': 1.2101000000000004, 'Lymphocyte': 31.441915079500014, 'PT': 36.3882841293, 'INR': 3.777445895759999, 'NT-proBNP': 44198.365, 'Creatine kinase': 1517.6239116210002, 'Creatinine': 3.94247859085, 'Urea nitrogen': 89.5400691061, 'glucose': 272.68791628900004, 'Blood potassium': 5.079626953870001, 'Blood sodium': 145.58847803900002, 'Blood calcium': 9.562859784950001, 'Chloride': 112.01233772599998, 'Anion gap': 19.631469172200003, 'Magnesium ion': 2.66757224216, 'PH': 7.48530197635001, 'Bicarbonate': 37.69473588240001, 'Lactic acid': 4.0498286619099995, 'PCO2': 72.82452080600002, 'EF': 70.12}

#### 8. Calculate the mean and standard deviation of “Respiratory rate” values. Then, identify the patient IDs with 2 standard deviation away from the mean of “Respiratory rate”feature.

In [ ]:
#8
#ind=column_names.index('Respiratory rate') #17
mean1=np.nanmean(data[:,17] , axis=0)
std1=np.nanstd(data[:,17]  , axis=0)
l=mean1 - 2*std1
u=mean1 + 2*std1
out_lo=(data[:,17]< l)
out_up=(data[:,17] > u)
outliers = out_lo | out_up 
data[:,0][outliers]

#### 9. Compute the distance matrix among patients and determine the k-NN (k-nearest neighbors), where k = 3, for each patient using the np.argpartition function.

In [8]:
#9
da=data[:,1:] # with out ID col
dist_sq = np.nansum((da[:, np.newaxis, :] - da[np.newaxis, :, :]) ** 2, axis=-1)
differences = da[:, np.newaxis, :] - da[np.newaxis, :, :]
sq_differences = differences ** 2
dist_sq = sq_differences.sum(2)
nearest = np.argsort(dist_sq, axis=1)
K = 3
nearest_partition = np.argpartition(dist_sq, K , axis=1)
np.fill_diagonal(nearest_partition,0) # to fill the diagonal = 0
nearest_partition.ndim

2

#### 10. Compute the Pearson correlation coefficient between each pair of patients. Subsequently,identify the pair of patients with the highest correlation coefficient. Provide the correlation matrix, which should be a square matrix.

In [14]:
correlation_matrix = np.corrcoef(np.nan_to_num(data[:,1:]), rowvar=False)


#np.fill_diagonal(correlation_matrix,-1)
#max_ind = np.unravel_index(np.argmax(correlation_matrix), correlation_matrix.shape)
#max_pair=(max_ind[0] , max_ind[1])

upper_triangle = np.triu(correlation_matrix, k=1) # for the diagonal = 1 
max_ind = np.unravel_index(np.argmax(upper_triangle), correlation_matrix.shape)
max_pair=(max_ind[0] , max_ind[1])


print("\nPair of patients with the highest correlation coefficient:",max_pair)
print(f"Coefficient: {correlation_matrix [max_ind]}")
correlation_matrix
type(max_pair)

Pair of patients with the highest correlation coefficient: (31, 32)
Coefficient: 0.9863794618777212

tuple

##### THANK YOU ...